

.modal-dangky-container{
    // z-index: 1000;

    width: 500px !important;
    position: relative;
    text-align: center;
    .close{
        background: linear-gradient(79.98deg, rgb(76, 196, 139) 26.18%, rgb(81, 180, 170) 99.22%);
        color: white;
        border: none;
        width: 30px;
        height: 30px;
        &:hover{
            animation: heartBeat; 
            animation-duration: 2s;
        }
    }
   
    .modal-content{
        position: absolute;
        top: 50px;
        margin-left: 10px;
    }
    .body-modalDangKy{
        height: 400px;
        .body{
            border: 1px solid white;
            height: auto;
            width: 100%;
        }
    }
}

.btn-createUser{
    width: 400px;
    margin-right: 35px;
    background: linear-gradient(79.98deg, rgb(76, 196, 139) 26.18%, rgb(68, 161, 152) 99.22%);
    height: 40px;

    &:hover{
        background: linear-gradient(79.98deg, rgb(55, 144, 103) 26.18%, rgb(93, 196, 186) 99.22%);
        display: inline-block;
        animation: pulse; 
        animation-duration: 2s;
        

    }
}