.contact{
    height: 300px;
    width: auto;
    margin: 50px 105px;
    display: flex;

    .lien-he{
        margin: 0 200px;
        border: 1px solid #ededed;
        width: 500px;
        justify-items: center;
        border-top: 5px solid #64b9e5;
        border-radius: 20px;

    }

    .khung-tintuc{

        // margin-top: 50px;
        height: 300px;
        width: 330px;
        position: absolute;
        background-color: white;
        margin-left: 750px;       
        border-radius: 20px;
        border-top: 5px solid #64b9e5;
        overflow: hidden;
        .title{
            position: sticky;
            top: 0;
            background-color: white;
        }
        .khung{
            padding: 50px;
            i{
                color: #49bce2;
            }
            p{
                color: rgb(250, 70, 70);
            }
        }
    }
}